/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #0084fd;
}

.white-color{
    color: white;
}

.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.container{
    flex-wrap: wrap;
    display: flex;
}
.text-card>h1{
    color: #0486fd;
    margin: 1.5rem 0;
}
.margin-auto{
    margin: auto;
}
.header-wrapper{
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}
.right-side-header>ul{
    list-style-type: none;
    display: none;
    align-items: center;
}
.right-side-header ul li a{
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}
.first-section{
    padding: 3rem;
}
.second-section{
    padding: 2rem 2rem;
}
.card{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    padding: 2rem;
}
.blue-color{
    background-color: #b5ddff;
}
.white-color{
    background-color: white;
}
.image-card>{
    height: 300px;
}
.image-card>img{
    height: 100%;
}
.second-section .image-card>img{
    width: 100%;
}
.text-card{
    text-align: center;
    line-height: 1.7rem;
}
.first-section .text-card>i{
    color: #0486fd;
}

.second-section .text-card>i{
    color: black;
}
.text-card>h1{
    color: #0486fd;
}
button{
    padding: 0.7rem 4rem;
    border: none;
    border-radius: 1.8rem;
}
.text-card>button{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.3rem;
}
.blue-btn{
    background-color: #0486fd;
    color: white;
}
.white-btn{
    background-color: white;
    padding: 0.7rem 0.4rem;
}
.white-btn>a{
    color: black;
}
.planning{
    background-color: #9792e4;
}
.text-left{
    text-align: left;
}
.planning-text{
    color: white;
    /* line-height: 1.7rem; */
}
.planning-text>h1{
    color: white;
    margin-bottom: 2.5rem;
}

.planning-text small{
    color: black;
}

#border-radius{
    border-radius: 3rem;
}
.color-black{
    color: black;
}

.arrow-feature{
    background-color: #9792e4;
    color: black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 1rem;
    margin-top: 2rem;
}



/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/

 /* Tablet dai 480 a 768px */

 @media screen and (min-width: 480px) {

    .container{
        gap:1rem;
    }
    .card .big>.text-card{
        text-align: left;
    }
    .card{
        width: calc( 100% / 3 - 1rem );
    }
    .card:first-child{
        width: calc((100% / 3 ) * 2 - 1rem);
    }
    .second-section .container{
        flex-direction: column;
    }
    .second-section .card{
        width: 100%;
    }
    .second-section .big h1{
        font-size: 3rem;
    }
 }
 /* Desktop dai 768px in su */

  @media screen and (min-width: 768px) {

    .container{
        /* max-width: 750px; */
        max-width: 1200px;
        margin: 0 auto;
    }
    .first-section.container{
        flex-direction: column;
    }
    .right-side-header>ul{
        flex-direction: row;
    }
    .right-side-header>ul{
        display: flex;
    }
    .right-side-header>i{
        display: none;
    }
    .second-section .container{
        flex-direction: row;
    }
 }