/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #0084fd;
    height: 50px;
}

.white-color{
    color: white;
}

.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 480px;
    margin: auto;
}
.margin-auto{
    margin: auto;
}
.header-wrapper{
    justify-content: space-between;
    align-items: center;
}
.left-side-header{

}
.right-side-header{

}
.right-side-header>ul{
    list-style-type: none;
    display: none;
}
.right-side-header ul li a{
    text-decoration: none;
}
.first-section{
    padding: 4rem 0;
}
.card{
    width: 80%;
    height: 650px;
    background-color: #b5ddff;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}




/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/

 /* Tablet dai 480 a 768px */

 @media screen and (min-width: 480px) {
    .container{
        width: calc((100% / 3) *2);
        flex-direction: row;
    }
 }
 /* Desktop dai 768px in su */

  @media screen and (min-width: 768px) {
    .container{
        width: 100%;
    }
 }